<div class="recently-shared">
  <div class="header-elementor">
    <p>Your recently shared</p>
  </div>
  <div class="prodile-elementor">
    <h3>Mr Santos</h3>
    <p>When mega corporations and governments decide what can and cannot be said, who…</p>
  </div>
  <div class="elemtor-amount">
    <img src="/assets/bnb.png" class="img-responsive">
    <span>0.0002 BNB</span>
  </div>
</div>
<div class="recently-shared">
  <div class="prodile-elementor">
    <h3>Luis Mendez</h3>
    <p>Do you want to see trading analysis every day? Use the code ‘’ santos300 ’’ at videotrading…</p>
  </div>
  <div class="elemtor-amount">
    <img src="/assets/bnb.png" class="img-responsive">
    <span>0.0032 BNB</span>
  </div>
</div>