<section class="feed-section">
	<div class="container">
		<div class="row">
			<div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
				<div class="category-list">
					<p>Categories</p>
					<ul class="listed-value">
						<li>
							<a class="listed-anchor">Music</a>
						</li>
						<li>
							<a class="listed-anchor">Script</a>
						</li>
						<li>
							<a class="listed-anchor">Books</a>
						</li>
						<li>
							<a class="listed-anchor">Sticker Album</a>
						</li>
						<li>
							<a class="listed-anchor">Ideas</a>
						</li>
						<li class="active">
							<a class="listed-anchor">Business Plan</a>
						</li>
						<li>
							<a class="listed-anchor">Videos/Spot</a>
						</li>
						<li>
							<a class="listed-anchor">Art</a>
						</li>
					</ul>
				</div>
				<div class="recently-shared">
					<div class="header-elementor">
						<p>Your recently shared</p>
					</div>
					<div class="prodile-elementor">
						<h3>Mr Santos</h3>
						<p>When mega corporations and governments decide what can and cannot be said, who…</p>
					</div>
					<div class="elemtor-amount">
						<img src="/assets/bnb.png" class="img-responsive">
						<span>0.0002 BNB</span>
					</div>
				</div>
				<div class="recently-shared">
					<div class="prodile-elementor">
						<h3>Luis Mendez</h3>
						<p>Do you want to see trading analysis every day? Use the code ‘’ santos300 ’’ at videotrading…</p>
					</div>
					<div class="elemtor-amount">
						<img src="/assets/bnb.png" class="img-responsive">
						<span>0.0032 BNB</span>
					</div>
				</div>
			</div>
			<div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12">
				<div class="row">
					<div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-12">

						<div class="linear-form">
							<div class="demolish-post">
								<div class="promote-post">
									<div class="profile-promote-img">
										<img src="/assets/avatar-1.jpg" class="img-responsive">
									</div>
									<div class="promote-first-form">
										<form>
											<div class="form-group promote-group">
												<label>Name</label>
												<input type="text" name="name" class="form-control form-list" placeholder="Title NFT">
											</div>
											<div class="form-group promote-group">
												<label>Description</label>
												<input type="text" name="description" class="form-control form-list" placeholder="Enter Your Description">
											</div>
										</form>
										
									</div>
								</div>
								<div class="confirmation-post">
									<p id="promote-post">Do you want to promote this post <span class="icon-element"></span></p>
								</div>
							</div>
							<div class="open-promote-post">
								<div class="friends-followers">
									<div class="checkbox">
								      	<label class="one-label">
								      		<input type="checkbox" class="form-control checkbox-customize" value="">
								      		<span>Friends</span>
								      	</label>
								      	<label class="one-label">
								      		<input type="checkbox" class="form-control checkbox-customize" value="">
								      		<span>Followers</span>
								      	</label>
								    </div>
								</div>
								<div class="advanced-section">
									<div class="advanced-one">
										<div class="form-group promote-group demand-group">
											<input type="text" name="field-1" class="form-control form-list">
										</div>
										<div class="meta-bep">
											<a href="#" class="meta-bep-btn">
												<img src="/assets/MetamaskWallet.svg" class="img-responsive">
											</a>
											<a href="#" class="bep-val">
												BEP 20
											</a>
										</div>
									</div>
									<div class="advanced-two">
										<div class="form-group promote-group demand-group">
											<input type="text" name="field-1" class="form-control form-list">
										</div>
										<div class="share-parent">
											<a href="#" class="share-it">Share</a>
										</div>
									</div>
									<div class="advanced-three">
										<a href="#" class="advanced-btn">Advanced</a>
									</div>
								</div>
								<div class="sale-conditions">
									<div class="put-on-sale-conditions common-para-switch">
										<p>Put on sale</p>
										<label class="switch_type common-switch" id="put_sale">
				                          <input type="checkbox" name="put_on_sale">
				                          <span class="slider round"></span>
				                        </label>
									</div>
									<div class="instant-sale-conditions common-para-switch">
										<p>Instant sale price</p>
										<label class="switch_type common-switch" id="instant_sale">
				                          <input type="checkbox" id="collection_instant_sale_enabled" name="instant_sale_enabled">
				                          <span class="slider round"></span>
				                        </label>
									</div>
									<div class="unlock-on-purchase-conditions common-para-switch">
										<p>Unlock once purchased</p>
										<label class="switch_type common-switch" id="unlock_purchase">
				                          <input type="checkbox" name="collection-unlock" id="collection-unlock-on-purchase">
				                          <span class="slider round"></span>
				                        </label>
									</div>
								</div>
								<div class="choose-collect">
									<p>Choose Collection</p>
									<label class="radio-img">
				                        <input type="radio" name="chooseCollection" id="type5" value="nft" class="chooseCollectionNft" checked="checked">
				                        <div class="image">
				                          <div class="icon-style-choose-collection">
				                            <span>+</span>
				                          </div>
				                          <div class="label-style-choose-collection">
				                            <label>Create</label>
				                            <span>ERC-721</span>
				                          </div>
				                        </div>
				                    </label>
				                    <label class="radio-img">
				                        <input type="radio" name="chooseCollection" id="type4" value="create" class="chooseCollectionErc">
				                        <div class="image">
				                          <div class="icon-style-choose-collection">
				                            <span>N</span>
				                          </div>
				                          <div class="label-style-choose-collection">
				                            <label>NFT</label>
				                            <span>NFT</span>
				                          </div>
				                        </div>
				                    </label>
								</div>
								<div class="royalties-section">
									<div class="row">
										<div class="col-md-4 col-sm-12 col-12">
											<div class="form-group promote-group">
												<label>Royalties</label>
												<input type="text" name="royalties" class="form-control form-list" placeholder="10 %">
											</div>
										</div>
										<div class="col-md-4 col-sm-12 col-12">
											<div class="form-group promote-group">
												<label>Royalties</label>
												<input type="text" name="royalties" class="form-control form-list" placeholder="e. g. .Size ">
											</div>
										</div>
										<div class="col-md-4 col-sm-12 col-12">
											<div class="form-group promote-group">
												<label>&nbsp;</label>
												<input type="text" name="royalties" class="form-control form-list" placeholder="e. g. M">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12 col-sm-12 col-12">
											<span class="suggested-sec">Suggested: 10%, 20%, 30%</span>
										</div>
									</div>
								</div>
							</div>
							<div class="publish-promote-form">
								<div class="publish-layer-one">
									<div class="img-one-assets">
										<a href="#">
											<img src="/assets/camera.png" class="img-responsive">
											<span>Image</span>
										</a>
									</div>
									<div class="img-one-assets">
										<a href="#">
											<img src="/assets/video.png" class="img-responsive">
											<span>Video</span>
										</a>
									</div>
									<div class="img-one-assets">
										<a href="#">
											<img src="/assets/podcast.png" class="img-responsive podcast-img">
											<span>Podcast</span>
										</a>
									</div>
								</div>
								<div class="publish-layer-two">
									<a class="publish-btn" href="#">Publish</a>
								</div>
							</div>
						</div>
						
						<div class="featured-list">
							<ul class="explore-fav">
								<li class="active">
									<a>Explore</a>
								</li>
								<li>
									<a>New</a>
								</li>
								<li>
									<a>My friends</a>
								</li>
								<li>
									<a>Favorites</a>
								</li>
							</ul>
						</div>

						<div class="asset-card">
							<div class="asset-pro-details">
								<a href="#" class="pro-profile">
									<img src="/assets/avatar-1.jpg" class="img-responsive pro-img">
									<span class="pro-profile-name">Cooper Rosser</span>
									<img src="/assets/tick.png" class="img-responsive tick-img">
								</a>
								<a href="#" class="follo-unfollow">
									Follow
								</a>
								<div class="timing-pro-sec">
									<i class="fas fa-circle"></i>
									<span>35 mins</span>
								</div>
							</div>
							<div class="promote-feed">
								<a href="#">
									<div class="assets_section">
										<img src="/assets/banner_bg.jpg" class="img-responsive">
									</div>
								</a>
							</div>
							<div class="first-pro-heading">
								<h1>INTO THE EHTER#188/207</h1>
							</div>
							<div class="amount-elements-first">
								<div class="thrw-one">
									<div class="bg-amount-layer">
										<a href="#" class="amount-layer">100 BNB</a>
									</div>
									
									<p>$178,513.911 of 1 </p>
								</div>
								<div class="thrw-two">
									<a href="#" class="buy-pro-now">Buy Now</a>
								</div>
							</div>
							<div class="status-details">
								<a href="#" class="like-pro default-share">
									<img src="/assets/heart.png">
									<span>5.6 K Like</span>
								</a>
								<a href="#" class="comment-pro default-share">
									<img src="/assets/comment.png">
									<span>677 Comments</span>
								</a>
								<a href="#" class="share-pro default-share">
									<img src="/assets/next.png">
									<span>15.2 K Share</span>
								</a>
							</div>
						</div>

						<div class="asset-card">
							<div class="asset-pro-details">
								<a href="#" class="pro-profile">
									<img src="/assets/avatar-1.jpg" class="img-responsive pro-img">
									<span class="pro-profile-name">Cooper Rosser</span>
									<img src="/assets/tick.png" class="img-responsive tick-img">
								</a>
								<a href="#" class="follo-unfollow">
									Follow
								</a>
								<div class="timing-pro-sec">
									<i class="fas fa-circle"></i>
									<span>35 mins</span>
								</div>
							</div>
							<div class="promote-feed">
								<a href="#">
									<div class="assets_section">
										<video controls>
										  <source src="/assets/Fury.mp4" type="video/mp4">
										</video>
									</div>
								</a>
							</div>
							<div class="first-pro-heading">
								<h1>INTO THE EHTER#188/207</h1>
							</div>
							<div class="amount-elements-first">
								<div class="thrw-one">
									<div class="bg-amount-layer">
										<a href="#" class="amount-layer">100 BNB</a>
									</div>
									
									<p>$178,513.911 of 1 </p>
								</div>
								<div class="thrw-two">
									<a href="#" class="buy-pro-now">Buy Now</a>
								</div>
							</div>
							<div class="status-details">
								<a href="#" class="like-pro default-share">
									<img src="/assets/heart.png">
									<span>5.6 K Like</span>
								</a>
								<a href="#" class="comment-pro default-share">
									<img src="/assets/comment.png">
									<span>677 Comments</span>
								</a>
								<a href="#" class="share-pro default-share">
									<img src="/assets/next.png">
									<span>15.2 K Share</span>
								</a>
							</div>
						</div>

						<div class="asset-card">
							<div class="asset-pro-details">
								<a href="#" class="pro-profile">
									<img src="/assets/avatar-1.jpg" class="img-responsive pro-img">
									<span class="pro-profile-name">Cooper Rosser</span>
									<img src="/assets/tick.png" class="img-responsive tick-img">
								</a>
								<a href="#" class="follo-unfollow">
									Follow
								</a>
								<div class="timing-pro-sec">
									<i class="fas fa-circle"></i>
									<span>35 mins</span>
								</div>
							</div>
							<div class="promote-feed">
								<a href="#">
									<div class="assets_section audio-format">
										<audio controls>
										  <source src="/assets/file_example.mp3" type="audio/mpeg">
										</audio>
									</div>
								</a>
							</div>
							<div class="first-pro-heading">
								<h1>INTO THE EHTER#188/207</h1>
							</div>
							<div class="amount-elements-first">
								<div class="thrw-one">
									<div class="bg-amount-layer">
										<a href="#" class="amount-layer">100 BNB</a>
									</div>
									
									<p>$178,513.911 of 1 </p>
								</div>
								<div class="thrw-two">
									<a href="#" class="buy-pro-now">Buy Now</a>
								</div>
							</div>
							<div class="status-details">
								<a href="#" class="like-pro default-share">
									<img src="/assets/heart.png">
									<span>5.6 K Like</span>
								</a>
								<a href="#" class="comment-pro default-share">
									<img src="/assets/comment.png">
									<span>677 Comments</span>
								</a>
								<a href="#" class="share-pro default-share">
									<img src="/assets/next.png">
									<span>15.2 K Share</span>
								</a>
							</div>
						</div>

						<div class="asset-card">
							<div class="asset-pro-details">
								<a href="#" class="pro-profile">
									<img src="/assets/avatar-1.jpg" class="img-responsive pro-img">
									<span class="pro-profile-name">Cooper Rosser</span>
									<img src="/assets/tick.png" class="img-responsive tick-img">
								</a>
								<a href="#" class="follo-unfollow">
									Follow
								</a>
								<div class="timing-pro-sec">
									<i class="fas fa-circle"></i>
									<span>35 mins</span>
								</div>
							</div>
							<div class="promote-feed">
								<div class="assets_section more-images">
									<div class="image-contain">
										<a>
											<img src="/assets/banner_bg.jpg" class="img-responsive">
										</a>
									</div>
									<div class="image-contain">
										<a>
											<img src="/assets/banner_bg.jpg" class="img-responsive">
											<div class="additional-content">
												<span>+ 2</span>
											</div>
										</a>
									</div>
								</div>
							</div>
							<div class="first-pro-heading">
								<h1>INTO THE EHTER#188/207</h1>
							</div>
							<div class="amount-elements-first">
								<div class="thrw-one">
									<div class="bg-amount-layer">
										<a href="#" class="amount-layer">100 BNB</a>
									</div>
									
									<p>$178,513.911 of 1 </p>
								</div>
								<div class="thrw-two">
									<a href="#" class="buy-pro-now">Buy Now</a>
								</div>
							</div>
							<div class="status-details">
								<a href="#" class="like-pro default-share">
									<img src="/assets/heart.png">
									<span>5.6 K Like</span>
								</a>
								<a href="#" class="comment-pro default-share">
									<img src="/assets/comment.png">
									<span>677 Comments</span>
								</a>
								<a href="#" class="share-pro default-share">
									<img src="/assets/next.png">
									<span>15.2 K Share</span>
								</a>
							</div>
						</div>

					</div>
				</div>
				
			</div>
		</div>
	</div>
</section>

