<div class="home">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="home__content">
          <h1 class="home__title">Dreamster NFT Social Network</h1>
          <p class="home__text">A decentralized Social Network based in NFTs and IPFS. Create NFTs in Seconds, start gaining followers and capitalize on your inspiration and best moments.</p>
          <div class="home__btns">
            <a href="<%= new_collection_path %>" class="home__btn home__btn--clr">Create</a>
            <a href="<%= search_path%>" class="explore-layer-btn" data-turbolinks="false">Explore</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>