<section class="howitworks-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="hiw-content-blk">
                    <h2>Acerca de Woonkly</h2>
                    <p>Woonkly es un Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                    <p>Woonkly es un Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                    <p>Woonkly es un Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                </div>
            </div>  
            <div class="col-sm-12 col-md-6">
                <img src="/assets/hiw-conten-img.png" />
            </div>
        </div>
    </div>
</section>