<section class="howitworks-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul class="howitworks-list">
                    <li>
                        <div class="howitworks-box">
                            <img src="/assets/howitworks/image-1.png" />
                            <h3>Defi finance</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                        </div>
                    </li>
                    <li>
                        <div class="howitworks-box">
                            <img src="/assets/howitworks/image-2.png" />
                            <h3>Defi finance</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                        </div>
                    </li>
                    <li>
                        <div class="howitworks-box">
                            <img src="/assets/howitworks/image-3.png" />
                            <h3>Defi finance</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                        </div>
                    </li>
                    <li>
                        <div class="howitworks-box">
                            <img src="/assets/howitworks/image-4.png" />
                            <h3>Defi finance</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                        </div>
                    </li>
                    <li>
                        <div class="howitworks-box">
                            <img src="/assets/howitworks/image-5.png" />
                            <h3>Defi finance</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                        </div>
                    </li>
                    <li>
                        <div class="howitworks-box">
                            <img src="/assets/howitworks/image-6.png" />
                            <h3>Defi finance</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>