<section class="partner-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="sec-center-heading">Partners</h3>
                <ul class="logo-list">
                    <li><img src="/assets/partner/image-1.png" /></li>
                    <li><img src="/assets/partner/image-2.png" /></li>
                    <li><img src="/assets/partner/image-3.png" /></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="partner-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="sec-center-heading">Auditor</h3>
                <ul class="logo-list">
                    <li><img src="/assets/auditor/image-1.png" /></li>
                    <li><img src="/assets/auditor/image-2.png" /></li>
                    <li><img src="/assets/auditor/image-3.png" /></li>
                </ul>
            </div>
        </div>
    </div>
</section>